{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block contenido %}
<body>
<h1>Login page</h1>
<form method="POST", action="">
    {{form.hidden_tag()}}
    {{form.identification}}
    {{form.password}}
    {{form.submit}}
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <strong>{{ message }}</strong>
        {% endfor %}
    {% endif %}
{% endwith %}
<br>Don't have an account? <a href="{{ url_for('register')}}">Sign Up</a>
</body>
{% endblock %}